.contact-us-container{
    height: 100vh;
    background: linear-gradient(
        to right,
        #E9E6E1 0%,
        #E9E6E1 35%,
        #fff 35%,
        #fff 100%
      );
}
.contact-us-inner-container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.contact-box-centered{
    display: flex;
    column-gap: 50px;
}

.contact-us-col h5{
    text-align: center;
    font-family: 'Work Sans';
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
}

.contact-us-form .form-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 22px;
}

.form-sub-text{
    font-size: 16px;
    font-family: 'Work Sans';
}

.form-row{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: 15px 0px;
}

.contact-us-form label{
    font-family: 'Work Sans';
    color: #707070;
    font-size: 12px;
    font-weight: 700;
}

.contact-us-form input{
width: 80%;
border: none;
border-bottom: 1px solid #707070;
opacity: 0.5;
line-height: 40px;
outline: none;
}

.contact-us-form select{
    padding: 10px 0px;
}

.contact-us-form select {
    padding: 10px;
    width: 80%;
    opacity: 0.5;
}

select::-webkit-select-placeholder {
    border: 1px solid red;
  }

  select::-ms-expand {
    border: 1px solid red;
  }

.contact-us-form input:focus{
    border-bottom: 1px solid #FF1F57;
    font-weight: 700;
    opacity: 1;
}

.contact-us-form input::placeholder{
    line-height: 20px;
}

.form-required-text{
    font-family: 'Work Sans';
    font-size: 12px;
}
.submit-button{
    width: 160px!important;
    background-color: transparent;
    border: 1px solid #000000!important;
    color: #000000!important;
    font-weight: 800;
    opacity: 1!important;
}

@media only screen and (max-width: 990px) {
    .contact-us-container{
        height: auto;
        background: linear-gradient(
            to bottom,
            #E9E6E1 0%,
            #E9E6E1 25%,
            #fff 25%,
            #fff 100%
          );
    }
    .contact-us-inner-container,.contact-box-centered{
        flex-direction: column;
    }
    .contact-us-col img{
        width: 75%;
    }
    .contact-us-col h5{
        margin: 30px 0px;
        font-size: 35px;
    }
    .contact-us-col {
        text-align: center;
    }
    .form-title{
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .form-row{
        margin: 10px auto;
        width: 80%;
    }
    .form-row label{
        text-align: left;
    }
    .form-row input, .form-row select{
        width: 100%;
    }
}